body {
	font-family: arial;
	text-align: center;
	margin: auto;
}

header{
	background: #333;
	color: white;
}


div.headerImageContainer {
  background-color: #97C9C9;
  background-image: url(../MyFirstWebsite/Images/header.png);
  background-size: contain;
  position: relative;
  max-height: 600px;
  
}

div.headerText {
  background-color: rgba(255,255,255,0.5);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.headerText h1 {
  margin: 5%;
  color: #000000;

}

nav{
	text-align: center;
}

ul {
  padding: 0px 0px;
  border: 1px;
  list-style-type: none;
  overflow: hidden;

}

nav ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
  color: black;
}

.active {
  background-color: grey;
  color: white;
}


h1{
	font-family: arial;
	padding: 10px;
	margin: 10px;
	text-align: center;
}


h2{
	color: red;
	font-family: arial;
	text-align: center;
}

h3{
	font-family: arial;
	text-align: center;
	padding: 1px;
}

h4{ 
	padding: 1px;
	margin: 4px;
}

h5{
	font-family: arial;
	text-align: center;
	font-size: 10px;
}

p {
	text-align: center;
}


table {
  font-family: arial, sans-serif;
  color: blue;
  border-collapse: collapse;
  width: 100%;
}

table h4 {
	color: white;
	background-color: grey;
	padding: 10px;
}

td a {
	text-decoration: none;
	color: grey;
}

td, th {
  color: blue;
  border: 0 solid #dddddd;
  text-align: center;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ol, dt, dd, form, label {
	background-color: #dddddd;
	margin: 0px;
	padding: 10px;
}

img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

iframe {
  width: 100%;
  max-height: 100%;
}

form input, form label, form select {
  padding: 10px;
  margin: 10px;
}



/* PRODUCT SELECTIONS */
.productHeader {
  background-color: grey;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.productContainer > div {
  position: relative;
  background-color: #F8F8F8;
  font-size: 16px;
  width: 200px;
  height: 200px
  margin: 1px; 

}

.productContainer a {
  text-decoration: none;
  color: grey;
}

.productImage {
	opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.eachProduct:hover .productImage {
  opacity: 0.3;
}

.eachProduct:hover .middle {
  opacity: 1;
}

.buttonText {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}





/* MAIN PAGE */

.yellow {
	color: yellow;
}

.orange {
	color: orange;
}

.green {
	color: green;
}




/* YOUTUBE VIDEO DIV */

.youtubeVideoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  overflow: hidden;
  height: 0;
}

.youtubeVideoContainer iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media (max-width: 550px) {
  .youtubeVideoContainer{
  }

  .youtubeVideoContainer iframe {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}



/* FLEX BOX TEST */

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox > div {
  background-color: green;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}





